p{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    color: aliceblue;
}
body{
    background-color: black;
}
.headAndPic{
    display: inline-block;
}
img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#links{
    margin-left: 22%;
}
#nameAndLinks{
    display: inline;
}