body{
    background-color: black;
}
h1{
    text-align: center;
    color: aliceblue;
}
p{
    margin: 40px;
    padding: 50px;
    color: aliceblue;
}

.projectPic{
    text-align: center;
    display: block;
}
img{
    display: block;
}